venvbia/
__pycache__/
.env/
/frontend/node_modules/
/venvGrupoBIA/
/frontend/src/notas personales.txt
media/
/media/
# .gitignore
*.pdf
/proyecto_bia/proyecto_bia/logs/actividad.log

# React build
/build/

# Logs
*.log
logs/
proyecto_bia/logs/
proyecto_bia/proyecto_bia/logs/actividad.log
proyecto_bia/logs/actividad.log
# backups y artefactos locales
backend.zip
**/backend_grupobia_*.zip
