venvbia/
__pycache__/
.env/
/frontend/node_modules/
/venvGrupoBIA/
/frontend/src/notas personales.txt
/media
# .gitignore
/media/certificados_generados/
*.pdf
/proyecto_bia/proyecto_bia/logs/actividad.log

# React build
/build/

# Logs
*.log
/proyecto_bia/logs/
proyecto_bia/proyecto_bia/logs/actividad.log
proyecto_bia/logs/actividad.log


# Ignorar logs
logs/
*.log
proyecto_bia/logs/actividad.log
proyecto_bia/logs/actividad.log
