venvbia/
__pycache__/
.env/
/frontend/node_modules/
/venvGrupoBIA/
/frontend/src/notas personales.txt
/media
# .gitignore
/media/certificados_generados/
*.pdf
/proyecto_bia/proyecto_bia/logs/actividad.log